<div>
    <Divider/>
    <h1>CCRInputPassword Component</h1>
    <h2>Simple Password</h2>
    <CCRInputPassword v-model="r_pass" :feedback="false"></CCRInputPassword>
</div>
<div>
   
    <h2>With Meter</h2>
    <CCRInputPassword v-model="r_pass"></CCRInputPassword>

</div>
<div>
   
    <h2>visible Option (toggleMask)</h2>
    <CCRInputPassword v-model="r_pass" toggleMask />
</div>
<div>
    <h2>Suggestions Password</h2>
    <CCRInputPassword toggleMask v-model="r_pass" showTemplate :suggestions="suggest"></CCRInputPassword>
    <br>
    <CCRInputButton label="submit" @onClick="dum()" buttonViewType="3"/>
</div>
<Toast/>
